<a href="https://colab.research.google.com/github/Aashitalwar223/internship-project/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
a
print(type(a))

<class 'int'>

In [ ]:
a=10
if(a%2==0):
  print("even")
else:
  print("odd")

even

In [ ]:
num1 = 5
num2 = 10
sum = num1 + num2
print("The sum is:", sum)

The sum is: 15

In [ ]:
num1 = 15
num2 = 20

if num1 > num2:
  maximum = num1
else:
  maximum = num2

print("The maximum is:", maximum)

The maximum is: 20

In [ ]:
principal = 1000
rate = 5
time = 2

simple_interest = (principal * rate * time) / 100
print("The simple interest is:", simple_interest)

The simple interest is: 100.0

In [ ]:
import math

radius = 5
area = math.pi * (radius ** 2)
print("The area of the circle is:", area)

The area of the circle is: 78.53981633974483

In [ ]:
text = "hello world"
converted_text = text[0].upper() + text[1:]
print(converted_text)

Hello world

In [ ]:
text = "HELLO WORLD"
converted_text = text.lower()
print(converted_text)

hello world

In [ ]:
text = "centered"
centered_text = text.center(20, '*')
print(centered_text)

******centered******

In [ ]:
text = "programming is fun and programming is useful"
count = text.count("programming")
print(count)

2

In [ ]:
text = "Hello World"
encoded_text = text.encode('utf-8')
print(encoded_text)

b'Hello World'

In [ ]:
text = "Hello World"
ends_with_world = text.endswith("World")
print(ends_with_world)

True

In [ ]:
text = "Hello\tWorld"
tab_size_4 = text.expandtabs(4)
tab_size_8 = text.expandtabs(8)

print(f"Original string: '{text}'")
print(f"Tab size 4:      '{tab_size_4}'")
print(f"Tab size 8:      '{tab_size_8}'")

Original string: 'Hello	World'
Tab size 4:      'Hello   World'
Tab size 8:      'Hello   World'

In [ ]:
text = "Hello World"
position = text.find("World")
print(position)

6

In [ ]:
age = 36
text = "My name is John, and I am {}"
formatted_text = text.format(age)
print(formatted_text)

My name is John, and I am 36

In [ ]:
price = 49.95
item = "shirt"
text = "The price of the {} is {} dollars."
formatted_text = text.format(item, price)
print(formatted_text)

The price of the shirt is 49.95 dollars.

In [ ]:
text = "HelloWorld123"
is_alphanumeric = text.isalnum()
print(is_alphanumeric)

text_with_space = "Hello World"
is_alphanumeric_with_space = text_with_space.isalnum()
print(is_alphanumeric_with_space)

True
False

In [ ]:
text = "HelloWorld"
is_alphabetic = text.isalpha()
print(is_alphabetic)

text_with_numbers = "HelloWorld123"
is_alphabetic_with_numbers = text_with_numbers.isalpha()
print(is_alphabetic_with_numbers)

True
False

In [ ]:
num1 = 10
num2 = 20

print(f"Before swapping: num1 = {num1}, num2 = {num2}")


temp = num1
num1 = num2
num2 = temp

print(f"After swapping: num1 = {num1}, num2 = {num2}")

Before swapping: num1 = 10, num2 = 20
After swapping: num1 = 20, num2 = 10

In [ ]:
num = 5

print(f"Multiplication table of {num}:")
for i in range(1, 11):
  print(f"{num} x {i} = {num * i}")

Multiplication table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
num = 5
factorial = 1

if num < 0:
   print("Factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1, num + 1):
       factorial = factorial * i
   print(f"The factorial of {num} is {factorial}")

The factorial of 5 is 120

In [ ]:
def count_vowels(text):
  """Counts the number of vowels in a string."""
  vowels = "aeiouAEIOU"
  vowel_count = 0
  for char in text:
    if char in vowels:
      vowel_count += 1
  return vowel_count

my_string = "Hello World"
num_vowels = count_vowels(my_string)
print(f"The number of vowels in '{my_string}' is: {num_vowels}")

The number of vowels in 'Hello World' is: 3

In [ ]:
def is_palindrome(text):
  """Checks if a string is a palindrome."""

  cleaned_text = "".join(text.split()).lower()
  return cleaned_text == cleaned_text[::-1]

string1 = "racecar"
string2 = "Hello World"

print(f"'{string1}' is a palindrome: {is_palindrome(string1)}")
print(f"'{string2}' is a palindrome: {is_palindrome(string2)}")

'racecar' is a palindrome: True
'Hello World' is a palindrome: False

In [ ]:
principal = 1000
rate = 5
time = 2

simple_interest = (principal * rate * time) / 100
print("The simple interest is:", simple_interest)

The simple interest is: 100.0

In [ ]:
import math

radius = 5
area = math.pi * (radius ** 2)
print("The area of the circle is:", area)

The area of the circle is: 78.53981633974483

In [ ]:
import random

lower_bound = 1
upper_bound = 100


secret_number = random.randint(lower_bound, upper_bound)

print(f"The secret number is (for testing): {secret_number}")

The secret number is (for testing): 48

In [ ]:
def generate_pascal_triangle(num_rows):
  """Generates Pascal's triangle up to a specified number of rows."""
  triangle = []
  for i in range(num_rows):
    row = [1]
    if triangle:
      last_row = triangle[-1]
      for j in range(len(last_row) - 1):
        row.append(last_row[j] + last_row[j + 1])
    if num_rows > 1 and i > 0:
        row.append(1)
    triangle.append(row)
  return triangle

def print_pascal_triangle(triangle):
  """Prints Pascal's triangle."""
  max_width = len(" ".join(map(str, triangle[-1])))
  for row in triangle:
    print(" ".join(map(str, row)).center(max_width))

num_rows = 6
pascal_triangle = generate_pascal_triangle(num_rows)
print_pascal_triangle(pascal_triangle)

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
1 5 10 10 5 1

In [ ]:
import math


num = int(input("Enter an integer: "))


print(f"Hexadecimal equivalent: {hex(num)}")


print(f"Octal equivalent: {oct(num)}")


print(f"Square root: {math.sqrt(num)}")

Enter an integer: 45
Hexadecimal equivalent: 0x2d
Octal equivalent: 0o55
Square root: 6.708203932499369

In [ ]:

num_int = 10
print(f"Integer: {num_int}, Type: {type(num_int)}")

num_float = 10.5
print(f"Float: {num_float}, Type: {type(num_float)}")

text = "Hello"
print(f"String: {text}, Type: {type(text)}")


is_true = True
print(f"Boolean: {is_true}, Type: {type(is_true)}")


my_list = [1, 2, 3]
print(f"List: {my_list}, Type: {type(my_list)}")


my_tuple = (1, 2, 3)
print(f"Tuple: {my_tuple}, Type: {type(my_tuple)}")


my_dict = {"a": 1, "b": 2}
print(f"Dictionary: {my_dict}, Type: {type(my_dict)}")


my_set = {1, 2, 3}
print(f"Set: {my_set}, Type: {type(my_set)}")

Integer: 10, Type: <class 'int'>
Float: 10.5, Type: <class 'float'>
String: Hello, Type: <class 'str'>
Boolean: True, Type: <class 'bool'>
List: [1, 2, 3], Type: <class 'list'>
Tuple: (1, 2, 3), Type: <class 'tuple'>
Dictionary: {'a': 1, 'b': 2}, Type: <class 'dict'>
Set: {1, 2, 3}, Type: <class 'set'>

In [ ]:
import math


a = float(input("Enter the length of side a: "))
b = float(input("Enter the length of side b: "))
c = float(input("Enter the length of side c: "))

s = (a + b + c) / 2


area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print(f"The area of the triangle is: {area}")

Enter the length of side a: 4
Enter the length of side b: 7
Enter the length of side c: 9
The area of the triangle is: 13.416407864998739

In [ ]:
import math

x1 = float(input("Enter the x-coordinate of the first point: "))
y1 = float(input("Enter the y-coordinate of the first point: "))


x2 = float(input("Enter the x-coordinate of the second point: "))
y2 = float(input("Enter the y-coordinate of the second point: "))

distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)


print(f"The distance between the two points is: {distance}")

Enter the x-coordinate of the first point: 6
Enter the y-coordinate of the first point: 8
Enter the x-coordinate of the second point: 9
Enter the y-coordinate of the second point: 4
The distance between the two points is: 5.0

In [ ]:

num = int(input("Enter an integer: "))

ones_place_digit = num % 10


print(f"The digit at the ones place is: {ones_place_digit}")

Enter an integer: 6
The digit at the ones place is: 6

In [ ]:

fahrenheit = float(input("Enter temperature in Fahrenheit: "))

celsius = (fahrenheit - 32) * 5/9

# Display the result
print(f"{fahrenheit} Fahrenheit is equal to {celsius:.2f} Celsius")

Enter temperature in Fahrenheit: 28
28.0 Fahrenheit is equal to -2.22 Celsius

In [ ]:
rows = int(input("Enter the number of rows"))
num= 1
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(num,end=" ")
    num=num+1
  print()

Enter the number of rows7
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [ ]:
for i in range(5):
  print("*" * (i + 1))

*
**
***
****
*****

In [ ]:
for i in range(5, 0, -1):
  print("*" * i)

*****
****
***
**
*

Reversed number: 54321

In [ ]:
num = 12345
count = 0

if num == 0:
  count = 1
else:
  while num > 0:
    num //= 10
    count += 1

print("Number of digits:", count)

Number of digits: 5

In [ ]:

def fibonacci_series(n):
  """Prints the Fibonacci series up to n terms."""
  a, b = 0, 1
  count = 0

  if n <= 0:
    print("Please enter a positive integer")
  elif n == 1:
    print("Fibonacci series up to", n, ":")
    print(a)
  else:
    print("Fibonacci series up to", n, ":")
    while count < n:
      print(a, end=" ")
      nth = a + b
      a = b
      b = nth
      count += 1
    print()
num_terms = 10
fibonacci_series(num_terms)

Fibonacci series up to 10 :
0 1 1 2 3 5 8 13 21 34

In [ ]:
year = int(input("Enter a year: "))

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print(f"{year} is a leap year")
      else:
           print(f"{year} is not a leap year")
   else:
       print(f"{year} is a leap year")
else:
   print(f"{year} is not a leap year")

Enter a year: 2014
2014 is not a leap year

In [ ]:
num = int(input("Enter an integer: "))
sum_of_digits = 0

num = abs(num)

while num > 0:
  digit = num % 10
  sum_of_digits += digit
  num //= 10
print("Sum of digits:", sum_of_digits)

Enter an integer: 45
Sum of digits: 9

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

The length of the list is: 5

In [ ]:
first_element = my_list[0]
third_element = my_list[2]
last_element = my_list[-1]

print(f"First element: {first_element}")
print(f"Third element: {third_element}")
print(f"Last element: {last_element}")


first_three_elements = my_list[0:3]
elements_from_second = my_list[1:]
last_two_elements = my_list[-2:]

print(f"First three elements: {first_three_elements}")
print(f"Elements from the second: {elements_from_second}")
print(f"Last two elements: {last_two_elements}")

First element: 1
Third element: 3
Last element: 5
First three elements: [1, 2, 3]
Elements from the second: [2, 3, 4, 5]
Last two elements: [4, 5]

[1, 2, 3, 4, 5, 6]

In [ ]:
my_list.insert(1, 99)
print(my_list)

[1, 99, 99, 2, 3, 4, 5, 6]

In [ ]:
my_list.remove(99)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:

my_list.sort()
print("List sorted in ascending order:", my_list)


my_list.sort(reverse=True)
print("List sorted in descending order:", my_list)

List sorted in ascending order: [1, 2, 3, 4, 5, 6]
List sorted in descending order: [6, 5, 4, 3, 2, 1]

In [ ]:
maximum_element = max(my_list)
minimum_element = min(my_list)

print("Maximum element:", maximum_element)
print("Minimum element:", minimum_element)

Maximum element: 6
Minimum element: 1

In [ ]:
total_sum = sum(my_list)
print("The sum of all elements in the list is:", total_sum)

The sum of all elements in the list is: 21

In [ ]:
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [1, 2, 3, 4, 5, 6]

In [ ]:

element_to_count = 3
count = my_list.count(element_to_count)
print(f"The element {element_to_count} appears {count} times in the list.")

The element 3 appears 1 times in the list.

In [ ]:

element_to_check = 4

if element_to_check in my_list:
  print(f"{element_to_check} exists in the list.")
else:
  print(f"{element_to_check} does not exist in the list.")

4 exists in the list.

In [ ]:

my_set = set(my_list)

print("List converted to a set (duplicates removed):", my_set)

List converted to a set (duplicates removed): {1, 2, 3, 4, 5, 6}

In [ ]:

original_list = [10, 20, 30, 40, 50]

copied_list_1 = original_list[:]
print("Copied list using slicing:", copied_list_1)


copied_list_2 = original_list.copy()
print("Copied list using copy():", copied_list_2)

copied_list_3 = list(original_list)
print("Copied list using list():", copied_list_3)

Copied list using slicing: [10, 20, 30, 40, 50]
Copied list using copy(): [10, 20, 30, 40, 50]
Copied list using list(): [10, 20, 30, 40, 50]

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]


merged_list_1 = list1 + list2
print("Merged list using + operator:", merged_list_1)


list1.extend(list2)
print("Merged list using extend():", list1)

#
merged_list_3 = [*list1, *list2]
print("Merged list using unpacking:", merged_list_3)

Merged list using + operator: [1, 2, 3, 4, 5, 6]
Merged list using extend(): [1, 2, 3, 4, 5, 6]
Merged list using unpacking: [1, 2, 3, 4, 5, 6, 4, 5, 6]

In [ ]:
def check_even_or_odd(number):
  """Checks if a given integer is even or odd."""
  if number % 2 == 0:
    return "Even"
  else:
    return "Odd"

num = 15
result = check_even_or_odd(num)
print(f"The number {num} is {result}.")

The number 15 is Odd.

In [ ]:
import math

def calculate_square_root(number):
  """Calculates the square root of a non-negative floating-point number."""
  if number >= 0:
    return math.sqrt(number)
  else:
    return "Error: Cannot calculate square root of a negative number"
num = 25.0
result = calculate_square_root(num)
print(f"The square root of {num} is {result}.")

The square root of 25.0 is 5.0.

In [ ]:
def magnitude_complex(z):
  """Calculates the magnitude of a complex number."""
  return (z.real**2 + z.imag**2)**0.5

complex_num = 3 + 4j
magnitude = magnitude_complex(complex_num)
print(f"The magnitude of {complex_num} is {magnitude}")

The magnitude of (3+4j) is 5.0

In [ ]:
def check_boolean(value):
  """Checks if a boolean value is True or False."""
  if value is True:
    return "The boolean value is True."
  else:
    return "The boolean value is False."
my_boolean = True
result = check_boolean(my_boolean)
print(result)

my_boolean = False
result = check_boolean(my_boolean)
print(result)

The boolean value is True.
The boolean value is False.

In [ ]:
def reverse_string(text):
  """Reverses a given string."""
  return text[::-1]

my_string = "Hello World"
reversed_string = reverse_string(my_string)
print(f"The reversed string of '{my_string}' is '{reversed_string}'.")

The reversed string of 'Hello World' is 'dlroW olleH'.

In [ ]:
def count_vowels(text):
  """Counts the number of vowels in a string."""
  vowels = "aeiouAEIOU"
  vowel_count = 0
  for char in text:
    if char in vowels:
      vowel_count += 1
  return vowel_count

my_string = "Programming is fun and useful"
num_vowels = count_vowels(my_string)
print(f"The number of vowels in '{my_string}' is: {num_vowels}")

The number of vowels in 'Programming is fun and useful' is: 9

In [ ]:
def find_maximum_in_list(input_list):
  """Finds the maximum element in a list."""
  if not input_list:
    return "Error: The list is empty."
  else:
    maximum = input_list[0]
    for item in input_list:
      if item > maximum:
        maximum = item
    return maximum

my_list = [10, 5, 23, 15, 8]
max_element = find_maximum_in_list(my_list)
print(f"The maximum element in the list {my_list} is: {max_element}")

empty_list = []
max_element_empty = find_maximum_in_list(empty_list)
print(max_element_empty)

The maximum element in the list [10, 5, 23, 15, 8] is: 23
Error: The list is empty.

In [ ]:
def sum_list_elements(input_list):
  """Calculates the sum of all elements in a list."""
  total_sum = 0
  for item in input_list:
    total_sum += item
  return total_sum

my_list = [1, 2, 3, 4, 5]
list_sum = sum_list_elements(my_list)
print(f"The sum of all elements in the list {my_list} is: {list_sum}")

empty_list = []
list_sum_empty = sum_list_elements(empty_list)
print(f"The sum of all elements in the list {empty_list} is: {list_sum_empty}")

The sum of all elements in the list [1, 2, 3, 4, 5] is: 15
The sum of all elements in the list [] is: 0

In [ ]:
def get_tuple_length(input_tuple):
  """Finds the length of a tuple."""
  return len(input_tuple)

my_tuple = (1, 2, 3, 4, 5)
tuple_length = get_tuple_length(my_tuple)
print(f"The length of the tuple {my_tuple} is: {tuple_length}")

empty_tuple = ()
tuple_length_empty = get_tuple_length(empty_tuple)
print(f"The length of the tuple {empty_tuple} is: {tuple_length_empty}")

The length of the tuple (1, 2, 3, 4, 5) is: 5
The length of the tuple () is: 0

In [ ]:
initial_investment = float(input("Enter the initial investment value: "))
annual_interest_rate = float(input("Enter the annual interest rate (as a decimal, e.g., 0.05 for 5%): "))
number_of_years = int(input("Enter the number of years: "))

investment_value = initial_investment

for year in range(1, number_of_years + 1):
  investment_value = investment_value * (1 + annual_interest_rate)

print(f"After {number_of_years} years, the investment value will be: ${investment_value:.2f}")

Enter the initial investment value: 50000
Enter the annual interest rate (as a decimal, e.g., 0.05 for 5%): 1.5
Enter the number of years: 4
After 4 years, the investment value will be: $1953125.00

In [ ]:
input_string = input("Enter a string: ")
vowels = "aeiouAEIOU"
string_without_vowels = ""

for char in input_string:
  if char not in vowels:
    string_without_vowels += char

print("String after removing vowels:", string_without_vowels)

Enter a string: FIRE
String after removing vowels: FR

In [ ]:
input_string = input("Enter a string: ")
char_counts = {}

for char in input_string:
  if char in char_counts:
    char_counts[char] += 1
  else:
    char_counts[char] = 1

print("Character occurrences:")
for char, count in char_counts.items():
  print(f"'{char}': {count}")

Enter a string: countless
Character occurrences:
'c': 1
'o': 1
'u': 1
'n': 1
't': 1
'l': 1
'e': 1
's': 2

# Task
Design and implement a menu-driven student course management system in Python using set data structures, demonstrating various set operations.

## Data structure design

### Subtask:
Define a data structure to store student names and their enrolled courses using a dictionary where keys are student names and values are sets of courses.

**Reasoning**:
Initialize an empty dictionary to store student courses.

In [ ]:
student_courses = {}

## Function for adding a student

### Subtask:
Create a function to add a new student and their initial set of courses to the system.

**Reasoning**:
Define the `add_student` function to add a new student and their initial courses to the `student_courses` dictionary, handling the case where the student already exists.

In [ ]:
def add_student(student_courses, student_name):
  """Adds a new student and their initial set of courses to the system."""
  if student_name in student_courses:
    print(f"Student '{student_name}' already exists.")
    return

  courses_input = input(f"Enter courses for {student_name} (comma-separated): ")
  courses_list = [course.strip() for course in courses_input.split(',')]
  courses_set = set(courses_list)

  student_courses[student_name] = courses_set
  print(f"Student '{student_name}' with courses {courses_set} added successfully.")

## Function for enrolling in a course

### Subtask:
Create a function to enroll an existing student in an additional course. This will demonstrate adding an element to a set.

**Reasoning**:
Define the `enroll_student` function as per the instructions, including checking for the student's existence, prompting for the course, adding the course to the set, and displaying the updated courses.

In [ ]:
def enroll_student(student_courses, student_name):
  """Enrolls an existing student in an additional course."""
  if student_name not in student_courses:
    print(f"Error: Student '{student_name}' not found.")
    return

  course_to_enroll = input(f"Enter the course to enroll {student_name} in: ")
  student_courses[student_name].add(course_to_enroll.strip())

  print(f"Student '{student_name}' enrolled in '{course_to_enroll}'.")
  print(f"Updated courses for {student_name}: {student_courses[student_name]}")

## Function for dropping a course

### Subtask:
Create a function to drop a course for an existing student. This will demonstrate removing an element from a set.

**Reasoning**:
Define the `drop_course` function to remove a course from a student's set of courses, handling cases where the student is not found and prompting for the course to drop.

In [ ]:
def drop_course(student_courses, student_name):
  """Drops a course for an existing student."""
  if student_name not in student_courses:
    print(f"Error: Student '{student_name}' not found.")
    return

  course_to_drop = input(f"Enter the course to drop for {student_name}: ")

  if course_to_drop.strip() not in student_courses[student_name]:
      print(f"Error: Course '{course_to_drop.strip()}' not found for student '{student_name}'.")
  else:
      student_courses[student_name].discard(course_to_drop.strip())
      print(f"Course '{course_to_drop.strip()}' dropped for student '{student_name}'.")

  print(f"Updated courses for {student_name}: {student_courses[student_name]}")

## Function to display student courses

### Subtask:
Create a function to display the courses a specific student is enrolled in.

**Reasoning**:
Define the function `display_student_courses` to display the courses for a given student.

In [ ]:
def display_student_courses(student_courses, student_name):
  """Displays the courses a specific student is enrolled in."""
  if student_name in student_courses:
    print(f"Courses for {student_name}: {student_courses[student_name]}")
  else:
    print(f"Error: Student '{student_name}' not found.")

## Function to perform set operations

### Subtask:
Create functions to demonstrate various set operations between the course sets of two students: union, intersection, difference, symmetric difference, subset, superset, and disjoint checks.

**Reasoning**:
Define the `perform_set_operations` function to demonstrate various set operations between the course sets of two students.

In [ ]:
def perform_set_operations(student_courses, student1_name, student2_name):
  """Demonstrates various set operations between the course sets of two students."""
  if student1_name not in student_courses:
    print(f"Error: Student '{student1_name}' not found.")
    return
  if student2_name not in student_courses:
    print(f"Error: Student '{student2_name}' not found.")
    return

  student1_courses = student_courses[student1_name]
  student2_courses = student_courses[student2_name]

  print(f"\nSet operations between {student1_name}'s courses and {student2_name}'s courses:")

  # Union
  union_courses = student1_courses.union(student2_courses)
  print(f"Union (courses in either set): {union_courses}")

  # Intersection
  intersection_courses = student1_courses.intersection(student2_courses)
  print(f"Intersection (courses in both sets): {intersection_courses}")

  # Difference (student1 - student2)
  difference_student1_student2 = student1_courses.difference(student2_courses)
  print(f"Difference ({student1_name}'s courses not in {student2_name}'s): {difference_student1_student2}")

  # Difference (student2 - student1)
  difference_student2_student1 = student2_courses.difference(student1_courses)
  print(f"Difference ({student2_name}'s courses not in {student1_name}'s): {difference_student2_student1}")

  # Symmetric Difference
  symmetric_difference_courses = student1_courses.symmetric_difference(student2_courses)
  print(f"Symmetric Difference (courses in either set, but not both): {symmetric_difference_courses}")

  # Subset check
  is_subset = student1_courses.issubset(student2_courses)
  print(f"{student1_name}'s courses are a subset of {student2_name}'s courses: {is_subset}")

  # Superset check
  is_superset = student1_courses.issuperset(student2_courses)
  print(f"{student1_name}'s courses are a superset of {student2_name}'s courses: {is_superset}")

  # Disjoint check
  are_disjoint = student1_courses.isdisjoint(student2_courses)
  print(f"{student1_name}'s courses and {student2_name}'s courses are disjoint (no common courses): {are_disjoint}")

## Menu implementation

### Subtask:
Create a menu-driven interface that allows the user to interact with the system by calling the functions created in the previous steps.

**Reasoning**:
Define the display_menu function and the main function with the program loop, including input handling and calling the previously defined functions based on user choice.

In [ ]:
def display_menu():
  """Prints the available options to the user."""
  print("\nStudent Course Management System Menu:")
  print("1. Add Student")
  print("2. Enroll Student in a Course")
  print("3. Drop Course for a Student")
  print("4. Display Student Courses")
  print("5. Perform Set Operations between Two Students")
  print("6. Exit")

def main():
  """Main program loop for the student course management system."""
  while True:
    display_menu()
    choice = input("Enter your choice: ")

    if choice == '1':
      student_name = input("Enter the name of the student to add: ")
      add_student(student_courses, student_name)
    elif choice == '2':
      student_name = input("Enter the name of the student to enroll: ")
      enroll_student(student_courses, student_name)
    elif choice == '3':
      student_name = input("Enter the name of the student to drop a course for: ")
      drop_course(student_courses, student_name)
    elif choice == '4':
      student_name = input("Enter the name of the student to display courses for: ")
      display_student_courses(student_courses, student_name)
    elif choice == '5':
      student1_name = input("Enter the name of the first student: ")
      student2_name = input("Enter the name of the second student: ")
      perform_set_operations(student_courses, student1_name, student2_name)
    elif choice == '6':
      print("Exiting the system. Goodbye!")
      break
    else:
      print("Invalid choice. Please try again.")

if __name__ == "__main__":
  main()

Student Course Management System Menu:
1. Add Student
2. Enroll Student in a Course
3. Drop Course for a Student
4. Display Student Courses
5. Perform Set Operations between Two Students
6. Exit
Student 'ronak' with courses {'btech', 'bca', 'bba'} added successfully.

Student Course Management System Menu:
1. Add Student
2. Enroll Student in a Course
3. Drop Course for a Student
4. Display Student Courses
5. Perform Set Operations between Two Students
6. Exit
Course 'btech' dropped for student 'ronak'.
Updated courses for ronak: {'bca', 'bba'}

Student Course Management System Menu:
1. Add Student
2. Enroll Student in a Course
3. Drop Course for a Student
4. Display Student Courses
5. Perform Set Operations between Two Students
6. Exit
Invalid choice. Please try again.

Student Course Management System Menu:
1. Add Student
2. Enroll Student in a Course
3. Drop Course for a Student
4. Display Student Courses
5. Perform Set Operations between Two Students
6. Exit
Student 'ashish' with courses {'ba', 'bcom'} added successfully.

Student Course Management System Menu:
1. Add Student
2. Enroll Student in a Course
3. Drop Course for a Student
4. Display Student Courses
5. Perform Set Operations between Two Students
6. Exit

Set operations between ronak's courses and ashish's courses:
Union (courses in either set): {'ba', 'bca', 'bba', 'bcom'}
Intersection (courses in both sets): set()
Difference (ronak's courses not in ashish's): {'bca', 'bba'}
Difference (ashish's courses not in ronak's): {'ba', 'bcom'}
Symmetric Difference (courses in either set, but not both): {'ba', 'bca', 'bba', 'bcom'}
ronak's courses are a subset of ashish's courses: False
ronak's courses are a superset of ashish's courses: False
ronak's courses and ashish's courses are disjoint (no common courses): True

Student Course Management System Menu:
1. Add Student
2. Enroll Student in a Course
3. Drop Course for a Student
4. Display Student Courses
5. Perform Set Operations between Two Students
6. Exit
Courses for ashish: {'ba', 'bcom'}

Student Course Management System Menu:
1. Add Student
2. Enroll Student in a Course
3. Drop Course for a Student
4. Display Student Courses
5. Perform Set Operations between Two Students
6. Exit

In [ ]:
students={}

while True:
  print("\n=====STUDENT COURSE MANAGEMENT SYSTEM=====")
  print("1. Add Student and their Courses")
  print("2. Show All Students with Courses")
  print("3. Exit")

  choice = input("Enter your choice(1-3):")

In [ ]:
students = {}

while True:
  print("\n===== STUDENT COURSE MANAGEMENT SYSTEM =====")
  print("1. Add Student and their Courses")
  print("2. Show All Students with Courses")
  print("3. Exit")

  choice = input("Enter your choice (1-3): ")

  if choice == "1":
    name = input("Enter Student Name: ")
    courses = input("Enter courses (comma separated): ").split(",")
    students[name] = set(course.strip().title() for course in courses)
    print("Student added successfully.")

  elif choice == "2":
    if not students:
      print("No students found!")
    else:
      for name, courses in students.items():
        print(name, ":", courses)
  elif choice == "3":
    print("Exiting Program")
    break

===== STUDENT COURSE MANAGEMENT SYSTEM =====
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit
Enter your choice (1-3): 1
Enter Student Name: aashi
Enter courses (comma separated): maths,java,cdc,python
Student added successfully.

===== STUDENT COURSE MANAGEMENT SYSTEM =====
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit
Enter your choice (1-3): 1
Enter Student Name: markus
Enter courses (comma separated): maths,cdc,c++
Student added successfully.

===== STUDENT COURSE MANAGEMENT SYSTEM =====
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit
Enter your choice (1-3): 1
Enter Student Name: ashish
Enter courses (comma separated): quants,physics,econmics
Student added successfully.

===== STUDENT COURSE MANAGEMENT SYSTEM =====
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit
Enter your choice (1-3): 2
aashi : {'Cdc', 'Maths', 'Java', 'Python'}
markus : {'Cdc', 'Maths', 'C++'}
ashish : {'Physics', 'Quants', 'Econmics'}

===== STUDENT COURSE MANAGEMENT SYSTEM =====
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit
Enter your choice (1-3): 1
Enter Student Name: sanjeet
Enter courses (comma separated): science,c,dcan
Student added successfully.

===== STUDENT COURSE MANAGEMENT SYSTEM =====
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit
Enter your choice (1-3): 1
Enter Student Name: harsh
Enter courses (comma separated): bio,chem,history
Student added successfully.

===== STUDENT COURSE MANAGEMENT SYSTEM =====
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit
Enter your choice (1-3): 2
aashi : {'Cdc', 'Maths', 'Java', 'Python'}
markus : {'Cdc', 'Maths', 'C++'}
ashish : {'Physics', 'Quants', 'Econmics'}
sanjeet : {'Science', 'C', 'Dcan'}
harsh : {'Chem', 'Bio', 'History'}

===== STUDENT COURSE MANAGEMENT SYSTEM =====
1. Add Student and their Courses
2. Show All Students with Courses
3. Exit